@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

/* Container Styles  */
.container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

/* navbar-shadow style */
.navbar-shadow {
    box-shadow: 2px 3px 10px #c9c9c946;
}

/* shadow-input class style  */
.shadow-input {
    box-shadow: 2px 3px 20px #03336e5e;
}

/* shadow-please class style  */
.shadow-please {
    transition: all 0.3s linear;
    box-shadow: 1px 1px 10px #b7b7b75f;
}

.shadow-please:hover {
    transform: translateY(-10px);
    box-shadow: 2px 3px 20px #6b6b6b69;
}

/* shadow-tests class style */
.shadow-tests {
    transition: all 0.3s linear;
    box-shadow: 0 0 10px #c8c8c875;
}