@tailwind base;
@tailwind components;
@tailwind utilities;


/* Container Styles  */
.container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

/* shadow-input class style  */
.shadow-input {
    box-shadow: 2px 3px 20px #03336e5e;
}